.nav__link:hover,
.nav__link.active {
  color: var(--LIGHT-COLOR);
}

.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

@media screen and (min-width: 768px) {
  .nav__link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }

  .nav__link:hover:before {
    width: 100%;
  }
}
