@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || GENERAL STYLES */

.main {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(41, 41, 85);
  color: var(--COLOR);
  background-image: url("/assets/sleek_04.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-position: top right;
  background-blend-mode: multiply;
}

.post-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .main {
    font-size: 1.25rem;
  }
}
