.tag {
  position: relative;
  min-height: var(--ITEM-MIN-HEIGHT-SM);
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.tag-name {
  padding: 1rem 2rem;
  background-color: var(--TRANSPARENT-DARK-COLOR);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.tag-image {
  position: absolute;
  object-fit: cover;
  transition: transform 0.25s;
}

.tag:hover .tag-name {
  color: var(--LIGHT-COLOR);
}

.tag:hover .tag-image {
  transform: scale(1.05);
}
