.form-control:nth-of-type(1),
.form-control:nth-of-type(3) {
  border-bottom: 1px solid rgba(238, 190, 58, 0.972);
  color: rgba(238, 190, 58, 0.972);
  padding: 0.5rem;
}
.form-control:focus {
  background-color: black;
  color: rgba(238, 190, 58, 0.972);
  border-color: rgba(238, 190, 58, 0.972);
}

.RichEditor_form-button {
  margin-top: 1rem;
}

.RichEditor-form > .form-group:nth-child(1) {
  gap: var(--GAP);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.RichEditor-form > .form-group:nth-child(3) {
  gap: var(--GAP);
  display: flex;
  align-items: center;
}
.form-group > .text-muted {
  color: rgba(238, 190, 58, 0.972);
}
.nav-tabs {
  border-top: rgba(238, 190, 58, 0.972);
}
.ql-toolbar.ql-snow {
  border: 1px solid rgba(238, 190, 58, 0.972);
}
.ql-editor.ql-blank {
  width: 100%;
  height: 400px !important;
}
.ql-editor {
  width: 100%;
  height: 400px !important;
}
.ql-stroke {
  stroke: rgba(214, 166, 34, 0.972);
}
.ql-toolbar.ql-snow {
  background-color: rgba(238, 190, 58, 0.972) !important;
}
.ql-picker-item {
  background-color: rgba(238, 190, 58, 0.972) !important;
  border-color: rgba(238, 190, 58, 0.972) !important;
  background: rgba(238, 190, 58, 0.972) !important;
}
.ql-snow .ql-picker-options {
  background-color: rgba(238, 190, 58, 0.972) !important;
}
::after,
::before {
  color: black;
}
.text-muted {
  color: rgba(238, 190, 58, 0.972) !important;
}
.ql-editor > p {
  text-align: left;
  height: 30px;
}
p {
  display: inline;
}
.ql-snow a {
  color: rgba(85, 171, 228, 0.972);
}

/* ⇓ Defining some Quill Classes received from the editor for the parsed data ⇓ */

.ql-indent-1 {
  padding-left: 12.7%;
}
.ql-indent-2 {
  padding-left: 25.4%;
}
.ql-indent-3 {
  padding-left: 38.1%;
}
.ql-indent-4 {
  padding-left: 50.8%;
}
.ql-indent-5 {
  padding-left: 63.5%;
}
.ql-indent-6 {
  padding-left: 76.2%;
}
.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify
}

/* ⇓ Toolbar Styling ⇓ */

.ql-toolbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ql-toolbar .ql-formats:nth-child(4) {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ql-toolbar .ql-formats {
  margin-right: 0;
}

.ql-toolbar .ql-formats:nth-child(4)::before {
  content: "Align";
  display: block;
}

.ql-toolbar .ql-formats:nth-child(1),
.ql-toolbar .ql-formats:nth-child(2),
.ql-toolbar .ql-formats:nth-child(3) {
  width: 33%;
  display: flex;
  justify-content: center;
}

.ql-toolbar .ql-formats:nth-child(5),
.ql-toolbar .ql-formats:nth-child(6),
.ql-toolbar .ql-formats:nth-child(7),
.ql-toolbar .ql-formats:nth-child(8) {
  width: 25%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .ql-toolbar .ql-formats:nth-child(5),
  .ql-toolbar .ql-formats:nth-child(6),
  .ql-toolbar .ql-formats:nth-child(7),
  .ql-toolbar .ql-formats:nth-child(8) {
    flex-direction: column;
    align-items: center;
  }
}
